@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

body {
    margin: 0px;
    background-color: #FEF6BF;
    align-items: center;
}

* {
    box-sizing: border-box;
}



textarea {
    height: 10vh;
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    display: block;

}

#output {
    border: 1px black solid;
    height: 10vh;
    width: 75%;
    margin: 1rem;
    padding: 1rem;
}


h1 {
    font-size: 2.5rem;
    background-color: #FCE33E;
    margin: 0rem 0rem;
    padding: 2rem;
    display: block;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    text-align: center;
    font-family: 'Style Script', cursive;
}

button {
    background-color: #FCE33E;
    border: none;
    margin: 1rem 1rem;
    padding: 1rem 2rem;
    font-size: large;
    font-family: 'Style Script', cursive;

}

button:hover {
    color: #FEF6BF;
}

footer {
    background-color: #FCE33E;
    margin: 0rem 0rem;
    padding: 2rem;
    border: 0rem;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    text-align: center;
    font-family: 'Style Script', cursive;
    font-size: 2em;

}